In [4]:
import pandas as pd
import matplotlib as plt
df = pd.read_csv("Automobile_price_data_clean-f18.csv")
df

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,subaru,gas,std,two,hatchback,fwd,front,93.7,156.9,63.4,...,97,2bbl,3.62,2.36,9.0,69,4900,31,36,5118
1,chevrolet,gas,std,two,hatchback,fwd,front,88.4,141.1,60.3,...,61,2bbl,2.91,3.03,9.5,48,5100,47,53,5151
2,mazda,gas,std,two,hatchback,fwd,front,93.1,159.1,64.2,...,91,2bbl,3.03,3.15,9.0,68,5000,30,31,5195
3,toyota,gas,std,two,hatchback,fwd,front,95.7,158.7,63.6,...,92,2bbl,3.05,3.03,9.0,62,4800,35,39,5348
4,mitsubishi,gas,std,two,hatchback,fwd,front,93.7,157.3,64.4,...,92,2bbl,2.97,3.23,9.4,68,5500,37,41,5389
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,bmw,gas,std,four,sedan,rwd,front,110.0,197.0,70.9,...,209,mpfi,3.62,3.39,8.0,182,5400,15,20,36880
197,porsche,gas,std,two,convertible,rwd,rear,89.5,168.9,65.0,...,194,mpfi,3.74,2.9,9.5,207,5900,17,25,37028
198,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,208.1,71.7,...,308,mpfi,3.8,3.35,8.0,184,4500,14,16,40960
199,bmw,gas,std,two,sedan,rwd,front,103.5,193.8,67.9,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315
200,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,199.2,72.0,...,304,mpfi,3.8,3.35,8.0,184,4500,14,16,45400

In [5]:
df = df.drop_duplicates()
df = df.reset_index(drop=True)
df

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,subaru,gas,std,two,hatchback,fwd,front,93.7,156.9,63.4,...,97,2bbl,3.62,2.36,9.0,69,4900,31,36,5118
1,chevrolet,gas,std,two,hatchback,fwd,front,88.4,141.1,60.3,...,61,2bbl,2.91,3.03,9.5,48,5100,47,53,5151
2,mazda,gas,std,two,hatchback,fwd,front,93.1,159.1,64.2,...,91,2bbl,3.03,3.15,9.0,68,5000,30,31,5195
3,toyota,gas,std,two,hatchback,fwd,front,95.7,158.7,63.6,...,92,2bbl,3.05,3.03,9.0,62,4800,35,39,5348
4,mitsubishi,gas,std,two,hatchback,fwd,front,93.7,157.3,64.4,...,92,2bbl,2.97,3.23,9.4,68,5500,37,41,5389
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,bmw,gas,std,four,sedan,rwd,front,110.0,197.0,70.9,...,209,mpfi,3.62,3.39,8.0,182,5400,15,20,36880
197,porsche,gas,std,two,convertible,rwd,rear,89.5,168.9,65.0,...,194,mpfi,3.74,2.9,9.5,207,5900,17,25,37028
198,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,208.1,71.7,...,308,mpfi,3.8,3.35,8.0,184,4500,14,16,40960
199,bmw,gas,std,two,sedan,rwd,front,103.5,193.8,67.9,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315
200,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,199.2,72.0,...,304,mpfi,3.8,3.35,8.0,184,4500,14,16,45400

In [6]:
M_P = df.loc[:, ['make', 'price']]
M_P

              make  price
0           subaru   5118
1        chevrolet   5151
2            mazda   5195
3           toyota   5348
4       mitsubishi   5389
..             ...    ...
196            bmw  36880
197        porsche  37028
198  mercedes-benz  40960
199            bmw  41315
200  mercedes-benz  45400

[201 rows x 2 columns]

In [7]:
df1 = df.groupby("make").price.mean()
df1.plot.bar()

In [2]:
df2 = df.loc[(df['make']=='toyota') & (df['price'] > 8000), ['make','price']]
df2.reset_index(drop=True)

NameError: name 'df' is not defined

In [3]:
df2['make'].count()

NameError: name 'df2' is not defined

In [ ]:
df3 = df.loc[(df['body-style']=='hatchback')]
df3

In [ ]:
df3['city-mpg'].mean()

In [ ]:
df4 = df.boxplot(column='price', by='body-style', rot=45, figsize = (15,10), fontsize=12)

In [ ]:
df5 = df.boxplot(column='price', by='make', rot=45, figsize = (15,10), fontsize = 12)